.reviews {
    display: flex;
    flex-direction: row;
    &__avatar__img {
        img {
            border-radius: 50%;
            width: 60px;
            height: 60px;
            object-fit: cover;
        }
    }
    &__content {

        margin-left: 1rem;
        &__user {
            margin-bottom: 3px;
        }
        &__review {
            margin-top: 5px;
        }
        &__date {
            color: gray;
            margin-bottom: 3px;
        }
        &__user-date {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}
.css-ryrseu-MuiRating-root {
    color: #fd7500 !important;
}