@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

$typografyContent: 'Lato', sans-serif;
$typografyLogo: 'Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}