@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

@import url('./components/home/home.scss');
@import url('./components/home/header/header.scss');
@import url('./components/home/footer/footer.scss');
@import url('./components/login/stylesLogin/styleLogin.scss');
@import url('./components/search/styleSearch.scss');
@import url('./components/cart/styleCart.scss');

$typografyContent: 'Lato', sans-serif;
$typografyLogo: 'Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif';
$backgroundColor: #fef0ef;


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}